/* General styles */
.boxAbout {
    background-color: rgba(255, 255, 234, 0.9);
    width: 50%;
    padding: 4rem;
    margin: 3rem auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.boxAbout ul {
    text-align: left;
    columns: 2;
    font-size: 1.25rem;
    margin: 2rem 3rem;
    gap: 3rem;
}

/* Star field styles */
.star-field {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Star styles */
.star {
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    animation: twinkle 1.5s infinite alternate;
}

/* Keyframes for twinkling effect */
@keyframes twinkle {
    0%, 100% {
        opacity: 0.3;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .boxAbout {
        width: 70%;
        padding: 3rem;
        margin: 2rem auto;
    }

    .boxAbout ul {
        font-size: 1.125rem;
    }
}

@media (max-width: 768px) {
    .boxAbout {
        width: 80%;
        padding: 2.5rem;
    }

    .boxAbout h2 {
        font-size: 1.5rem;
    }

    .boxAbout p,
    .boxAbout ul li {
        font-size: 1rem;
    }

    .boxAbout ul {
        columns: 2;
        margin: 1.5rem;
        gap: 1rem;
    }
}

@media (max-width: 425px) {
    .boxAbout {
        width: 80%;
        padding: 2rem;
    }

    .boxAbout h2 {
        font-size: 1.25rem;
    }

    .boxAbout p {
        font-size: 0.875rem;
    }

    .boxAbout ul {
        font-size: 0.875rem;
        margin: 1rem;
    }

}

/* Further adjustments for very small screens */
@media (max-width: 320px) {
    .boxAbout h2 {
        font-size: 1.125rem;
    }

    .boxAbout p,
    .boxAbout ul li {
        font-size: 0.75rem;
    }
}
